<nav>
<div class="d-flex align-items-center">
  <img src="/assets/images/DealsNowLocal.png" style="width:100%; height:auto;">
</div>
<div class="nav-scroller bg-body shadow-sm justify-content-center" style="width:100%; color: F4F4F4;">
  <nav class="nav justify-content-center" aria-label="Secondary navigation">
    <div class="col-9">
      <div class="d-flex align-items-center">
        <!--<a class="nav-link active" aria-current="page" href="#">Home</a>-->
        <a class="nav-link" href="#"><span><i class="fa fa-user mr-2 text-muted"></i></span> My Account</a>
        <a class="nav-link" href="#"><span><i class="fa fa-heart mr-2 text-muted"></i></span> Wishlist</a>
        <a class="nav-link" href="#" style="color: red;"><span><i class="fa fa-stop mr-2"></i></span> Global Store</a>
        <a class="nav-link" routerLink="/cart"><span><i class="fa fa-shopping-cart mr-1 text-muted"></i></span> My Cart <span
            class="badge bg-danger text-white rounded-pill align-text-bottom" *ngIf="(cart$ | async) as cart">{{cart.items.length}}</span></a>
        <a class="nav-link" href="#"><span><i class="fa fa-user mr-1 text-muted"></i></span> Login</a>
        <a class="nav-link last-inline" href="#" style="float: right; margin-left: auto;">currency :LKR</a>
        <a class="nav-link last-inline" href="#" style="float: right;">language :English</a>
      </div>
    </div>
  </nav>
</div>
<div class="d-flex flex-row flex-md-row pb-3 mb-4 border-bottom justify-content-center text-uppercase">
  <div class="col-9">
    <a [routerLink]="['/shop']" routerLinkActive="router-link-active" ><img src="/assets/images/DealsNowBG.png" style="width:14%; height:100%;"></a>
    <nav class="d-inline-flex mt-2 mt-md-4 ms-md-auto" style="float: right;">
      <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a> -->
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support online</a>
      <a class="py-2 text-dark text-decoration-none" routerLink="/test-error">About US</a>
    </nav>
  </div>
</div>
<marquee direction="right" bgcolor="#FFFF00" [height]="20"><span><i class="fa fa-shopping-cart mr-1 text-success"></i></span> fresh products from <span style="color:red">Delas</span>Now.LK Sri Lanka.Please visit our Global Store</marquee>
</nav>

